header {
  position: sticky;
  top: var(--base-gap);
  z-index: 10;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--base-gap);
  background: var(--block-color-background-o9);
  backdrop-filter: blur(4px);
  border-radius: var(--block-border-radius);
  box-shadow: var(--block-box-shadow);
  padding: 0 var(--base-gap);
}

main.main {
  flex: 1;
}

section.block {
  background: var(--block-color-background-o9);
  border-radius: var(--block-border-radius);
  box-shadow: var(--block-box-shadow);
  padding: var(--base-gap);

  &:not(:first-child) {
    margin-top: var(--base-gap);
  }
}

.copyright {
  text-align: center;
  font-size: 1rem;
  font-weight: var(--copyright-weight);
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--color-text);
}