header {
  position: sticky;
  top: var(--base-gap);
  z-index: 10;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--base-gap);
  background: var(--block-color-background-o9);
  backdrop-filter: blur(4px);
  border-radius: var(--block-border-radius);
  box-shadow: var(--block-box-shadow);
  padding: 0 var(--base-gap);
}

main.main {
  flex: 1;
}

.page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  padding: 0 5px;
}

section.block {
  background: var(--block-color-background-o9);
  border-radius: var(--block-border-radius);
  box-shadow: var(--block-box-shadow);
  padding: var(--base-gap);

  &:not(:first-child) {
    margin-top: var(--base-gap);
  }
}

.page-title {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

// 凍結header
.sticky-header {
  position: sticky;
  top: 110px;
  z-index: 1;
  font-weight: 500;
  border-bottom: 1px solid var(--color);
}

// 列表樣式
.row-item {
  background-color: var(--item-background);
  border-radius: 0.25rem;
  box-shadow: var(--right-offset-shadow), var(--right-offset-shadow), var(--shadow);
  padding: 12px;
}

.operate {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  a,
  button {
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: var(--color);
    background-color: var(--color-background);
    border-radius: 0.25rem;
    border: none;
    padding: 0.25rem 0.75rem;
  }

  a {
    padding: 0.3rem 0.75rem 0.2rem;
  }

  .del {
    color: var(--red);
    background-color: var(--del-background);
  }
}

.copyright {
  text-align: center;
  font-size: 1rem;
  font-weight: var(--copyright-weight);
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--color-text);
}