header {
  position: sticky;
  top: var(--base-gap);
  z-index: 10;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--base-gap);
  background: var(--block-color-background-o9);
  backdrop-filter: blur(4px);
  border-radius: var(--block-border-radius);
  box-shadow: var(--block-box-shadow);
  padding: 0 var(--base-gap);
}

main.main {
  flex: 1;
}

.page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  padding: 0 5px;
}

section.block {
  background: var(--block-color-background-o9);
  border-radius: var(--block-border-radius);
  box-shadow: var(--block-box-shadow);
  padding: var(--base-gap);

  &:not(:first-child) {
    margin-top: var(--base-gap);
  }
}

.page-title {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

// 凍結header
.sticky-header {
  position: sticky;
  top: 110px;
  z-index: 1;
  font-weight: 500;
  border-bottom: 1px solid var(--color);
}

// 列表樣式
.row-item {
  background-color: var(--item-background);
  border-radius: 0.25rem;
  box-shadow: var(--right-offset-shadow), var(--right-offset-shadow), var(--shadow);
  padding: 12px;
}

// 排序樣式
.sort-list {

  .sort-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 20px;
    border-left: 3px solid var(--color);
    cursor: move;

    svg {
      transform: translateY(2px);
    }
  }

  /* 拖曳時的樣式 */
  .sortable-ghost {
    // opacity: 0.5;
    color: transparent;
    border: 1px dashed #4a90e250;
    background: #4a90e225;
    transition: 0.3s ease;
  }

  .sortable-drag {
    opacity: 0.9;
  }
}

.btn-sort {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: var(--color);
  border-radius: 5px;
  border: none;
  padding: 0;
  padding-left: 4px;
  transition: 0.3s ease;

  &:not(:disabled)::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    background: inherit;
    filter: blur(8px);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  svg {
    width: 60%;
    height: 60%;
  }
}

// 狀態
.signal {
  position: relative;
  z-index: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--color);
  border-radius: 3px;
  margin: 0 auto;

  &.off {
    background-color: var(--red);
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: inherit;
    border-radius: inherit;
    filter: blur(2px);
    pointer-events: none;
  }
}

.operate {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  &.sort {

    a,
    button {
      font-size: 0.9375rem;
    }
  }

  a,
  button {
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: var(--color);
    background-color: var(--color-background);
    border-radius: 0.25rem;
    border: none;
    padding: 0.25rem 0.75rem;
  }

  a {
    padding: 0.3rem 0.75rem 0.2rem;
  }

  .del {
    color: var(--red);
    background-color: var(--del-background);
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  padding-top: 24px;
  font-family:
    v-sans,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.copyright {
  text-align: center;
  font-size: 1rem;
  font-weight: var(--copyright-weight);
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--color-text);
}